<!-- <a routerLink="/home">Home</a>
<a routerLink="/create-tariff">CreateTariff</a> -->
<ul class="top-level-menu">
    <li>
        <a routerLink="">Jobs</a>
        <ul class="second-level-menu">
                <li>
                    <a routerLink="">Vessel</a>
                    <ul class="third-level-menu">
                            <li><a routerLink="/add-new-vessel-job">Add New Job</a></li>
                            <li><a routerLink="">Job Admin</a></li>
                    </ul>
                </li>
                <li><a routerLink="">QueryBuilder</a></li>
                <li><a routerLink="">ArchiveHouseKeep</a></li>
        </ul>
    </li>
    <li>
        <a routerLink="">Billing</a>
        <ul class="second-level-menu">
                <li><a routerLink="/vessel-overview">Vessel Overview</a></li>
        </ul>
    </li>
    <li>
        <a routerLink="">Admin</a>
        <ul class="second-level-menu">
            <li>
                <a routerLink="">User</a>
                <ul class="third-level-menu">
                        <li><a routerLink="">Create User</a></li>
                        <li><a routerLink="">Search User</a></li>
                </ul>
            </li>
            <li><a routerLink="">Geo Monitor</a></li>
            <li><a routerLink="">Country Setup</a></li>
        </ul>
    </li>
    <li>
        <a routerLink="">Configuration</a>
        <ul class="second-level-menu">
                <li>
                    <a routerLink="">D&amp;D Config</a>
                    <ul class="third-level-menu">
                            <li><a routerLink="">Create</a></li>
                            <li><a routerLink="">View</a></li>
                    </ul>
                </li>
                <li>
                        <a routerLink="">Standard Tariff</a>
                        <ul class="third-level-menu">
                                <li><a routerLink="/create-tariff">Create Tariff</a></li>
                                <li><a routerLink="">Search Tariff</a></li>
                        </ul>
                    </li>
                    <li>
                            <a routerLink="">Special Deal</a>
                            <ul class="third-level-menu">
                                <li><a routerLink="">Create Tariff</a></li>
                                <li><a routerLink="">Search Tariff</a></li>
                            </ul>
                        </li>
        </ul>
    </li>
</ul>